*{
    padding: 0;
    margin: 0;
    border: 0;
}
body{
    background-color: #E6ECF0;
}
ul{
    list-style: none;
    padding: 1em 1em;
    border-radius: 10px;
    background-color: #29A3EF;
    margin: 1em 1em;
}
li{
    white-space: pre;
    color: white;
}
textarea{
    overflow: hidden;
}
.header{
    width: 100vw;
    position: fixed;
    background-color: #29A3EF;
    text-align: center;
    z-index: 1;
}
.header .fab{
    color: white;
    font-size: 50px;
    margin: 20px;
}
.main{
    width: 100%;
    display: flex;
    justify-content: center;
}
.divMain{
    width: 75%;
    margin: 0 12.5%;
    flex-direction: column;
    flex-wrap: nowrap;
}
.formTweet{
    padding: 7em 3em 1em 3em;
    background-color: #E8F5FD;
}
.msg-tweet{
    cursor: pointer;
    max-width: inherit;
    min-width: inherit;
    width: 90%;
    border-radius: 10px;
    padding: 20px;
    border: 2px solid #A6D9F7;
    font-size: 18px;
    resize: none;
    box-shadow: 0px 0px 10px 0px #A6D9F7;
    outline: 0;
}
.msg-tweet:hover{
    border: 2px solid #7AC943;
    box-shadow: 0px 0px 10px 0px #8EB3F4;
}
.msg-tweet:focus{
    border: 2px solid #7AC943;
}
.p-msg-tweet{
    cursor: default;
    text-decoration: none;
    padding: 10px 1em;
    font-size: 15px;
    color: #29A3EF;
}
.btn-tweet{
    text-decoration: none;
    background-color: #29A3EF;
    text-align: center;
    font-size: 16px;
    color: white;
    border-radius: 30px;
    padding: 10px 20px;
    margin: 10px;
    outline: 0;
}
.btn-tweet:disabled{
    opacity: .3
}
.btn-tweet:enabled{
    cursor: pointer;
    box-shadow: 0px 0px 10px 0px #29A3EF;
}
.timeline-tweet{
    padding: 1em 2em;
    min-height: 25vw;
    max-width: inherit;
    min-width: inherit;
    background-color: white;
}
.timeline-begin{
    padding: 1em;
    max-width: inherit;
    min-width: inherit;
}
.speech-bubble {
	position: relative;
	background: #00aabb;
	border-radius: 35px;
}
.speech-bubble:after {
	content: '';
	position: absolute;
	top: 0;
	left: 20%;
	width: 0;
	height: 0;
	border: 0.688em solid transparent;
	border-bottom-color: opacity: .3;
	border-top: 0;
	margin-left: -0.687em;
	margin-top: -0.687em;
}